body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

/* Model bugfix */
.visible.transition {
  margin-top: auto !important;
  display: inline-block !important;
  position: relative;
}

/* Attachment Delete Button */
.delAttachmentButton {
  position: absolute;
  top: 5px;
  left: 5px;
  font-size: 7px !important;
  opacity: 0.8;
}